.scroll{
    height:800px;
    .row-item{
        width: 50px;
        height: 3000px;
        background: yellow;
    }
    .row-item2{
        background: green;
    }
    .row-item3{
        background: blue;
    }
}